* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
body > * {
  min-height: 1em;
}
h1 {
  margin: 0;
  font-size: 100%;
}
header, .cyan {
  background: #009FDF;
}
nav, .magenta {
  background: #D40F7D;
}
main, .yellow {
  background: #FAE100;
}
footer, .black {
  background: #2C2A29;
  color: white;
}
a, a:visited {
  color: inherit;
}


/* Basic Layout 1 */
#basic-layout-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
}

#basic-layout-1 header {
    grid-column: 1/-1;
    grid-row: 1/4;
}

#basic-layout-1 nav {
    grid-column: 1/3;
    grid-row: 4/11;
}

#basic-layout-1 main {
    grid-column: 3/13;
    grid-row: 4/11;
}

#basic-layout-1 footer {
    grid-column: 1/-1;
    grid-row: 11/-1;
}


/* Basic Layout 2 */
#basic-layout-2 {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 14px;
}

#basic-layout-2 header {
    grid-row: 1/4;
}

#basic-layout-2 nav {
    grid-row: 4/6;
}

#basic-layout-2 main {
    grid-row: 6/11;
}

#basic-layout-2 footer {
    grid-row: 11/-1;
}


/* Basic Layout 3 */
#basic-layout-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 14px;
}

#basic-layout-3 header {
    grid-column: 1/7;
    grid-row: 11/-1;
}

#basic-layout-3 nav {
    grid-column: 7/13;
    grid-row: 11/-1;
}

#basic-layout-3 main {
    grid-column: 1/13;
    grid-row: 1/9;
}

#basic-layout-3 footer {
    grid-column: 1/13;
    grid-row: 9/11;
}


/* Basic Layout 4 */
#basic-layout-4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 14px;
}

#basic-layout-4 header {
    grid-column: 10/-1;
    grid-row: 1/7;
}

#basic-layout-4 nav {
    grid-column: 10/-1;
    grid-row: 7/-1;
}

#basic-layout-4 main {
    grid-column: 1/10;
    grid-row: 1/7;
}

#basic-layout-4 footer {
    grid-column: 1/10;
    grid-row: 7/-1;
}