* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
body > * {
  min-height: 1em;
}
h1 {
  margin: 0;
  font-size: 100%;
}
header, .cyan {
  background: #009FDF;
}
nav, .magenta {
  background: #D40F7D;
}
main, .yellow {
  background: #FAE100;
}
footer, .black {
  background: #2C2A29;
  color: white;
}
a, a:visited {
  color: inherit;
}


/* Basic Layout 1 */
#basic-layout-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
}

#basic-layout-1 header {
    grid-column: 1/-1;
    grid-row: 1/3;
}

#basic-layout-1 nav {
    grid-column: 1/3;
    grid-row: 3/10;
}

#basic-layout-1 main {
    grid-column: 3/13;
    grid-row: 3/10;
}

#basic-layout-1 footer {
    grid-column: 1/-1;
    grid-row: 10/-1;
}